@model NaproKarta.ViewModels.ObservationEditVM

@{
   ViewBag.Title = "Edit Observation in: " + @Model.Date;
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div>
    <table>
        @*Header*@
        <tr>
            <td>
                <h3>Edit Observation in:&nbsp;</h3>
                <h3 class="debug">@Model.Observation.ID</h3>
            </td>
            <td>
                <button type="button" name="" id="" value="" class="btn btn-default" style="height: 50%; width: auto">
                    Prev obsCell
                </button>
            </td>
            <td>
                <button type="button" name="" id="" value="" class="btn btn-default" style="height: 50%; width: auto">
                    prev Day
                </button>
            </td>
            <td>
                <div class="col-md-10">
                    @*xxx*@
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Observation.Date, new { htmlAttributes = new { @class = "form-control " } })
                </div>
            </td>
            <td>
                <button type="button" name="" id="" value="" class="btn btn-default" style="height: 50%; width: auto">
                    next day
                </button>
                <button type="button" name="" id="" value="" class="btn btn-default" style="height: 50%; width: auto">
                    next obsCell
                </button>
                <button type="button" name="" id="" value="" class="btn btn-default" style="height: 50%; width: auto">
                    Reset form
                </button>
            </td>
        </tr>
    </table>
</div>

    //Observation Form
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Observation.ID)
        @*@Html.HiddenFor(model => Model.MarkerID)*@

        @*marker row*@
        <div class="groupBox" style="text-align: center">
            <table>
                <tr>
                    @foreach (var item in Model.MarkersList)
                    {
                    <td style="text-align: center; padding-right: 10px">
                        <button type="button"
                                class="btn btn-default"
                                value="@item.ID"
                                @*value="@item"*@
                                @*style="background-color: red"*@
                                onclick="SetProperty('@Html.NameFor(m=>m.MarkerID)',this.value)">
                            <img src="@item.MarkerUrl" alt="@item.Name" style="width: 60px; height: auto" />
                        </button>
                    </td>
                    }
                </tr>
            </table>
        </div>
        @*propetrty row*@
        <div style="float: left">
            <table style="width: 800px">
                <tr>
                    <td style="vertical-align: top; ">
                        @*letters*@
                        @{ Html.RenderPartial("_letters", Model); }
                    </td>
                    <td>
                        @*ciphers*@
                        @{ Html.RenderPartial("_ciphers", Model); }
                    </td>
                    <td>
                        @*ciphersCD*@
                        @{ Html.RenderPartial("_ciphersCD", Model); }
                    </td>
                    <td>
                        @*Numtimes*@
                        @{ Html.RenderPartial("_numTimes", Model); }
                    </td>
                    <!--<td>
                                            @*Numtimes*@
                                            @{ Html.RenderPartial("_comments", Model); }
                                        </td>-->
                </tr>
            </table>
            @*pciture row*@
        </div>
        <div class="groupBox " style="float: right; width: 35%; height: 100%">
            <img src="http://kubamiszcz.hekko24.pl/Naprokarta/emptyPhoto.png" style="width:100%; height: 40%;" />
        </div>
        @*NotesVM row*@
        <div class="groupBox" style="float: left">
            <table style="width: 620px">
                @{
                   foreach (var note in Model.Observation.Notes)
                   {
                       int i = Model.Observation.Notes.IndexOf(note);
                    <tr>
                        <td style="padding: 10px">
                            @Html.HiddenFor(model => model.Observation.Notes[i].ID)
                            @*@Html.HiddenFor(model => model.Observation.Notes[i].Observation_ID)*@
                            @*<input type="checkbox" name="@Html.NameFor(m => m.Observation.NotesVM[i].IsImportant)" val="@Model.Observation.NotesVM[i].IsImportant" @(note.IsImportant ? "checked" : "")>*@
                            @Html.CheckBoxFor(m => m.Observation.Notes[i].IsImportant, new { @checked = "checked" })
                        </td>
                        <td style="padding: 5px">
                            <input type="text" name="@Html.NameFor(m => m.NoteMarks)" value="@Model.NoteMarks[i]" style="@Model.NoteMarksBackgroundColors[i];">
                        </td>
                        <td class="col-md-12" style="padding: 5px">
                            @Html.TextAreaFor(m => m.Observation.Notes[i].Content, 3, 40, new { @class = "form-control" })
                        </td>
                    </tr>
                   }
                }
            </table>
        </div>

        @*Buttons row*@
        <div class="col-md-12" style="text-align: center; float: left">
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%;  ">
                        <input type="submit" id="button" name="button" value="Cancel" class="btn btn-info btn-block" />
                    </td>
                    <td style="width: 50%;  ">
                        <input type="submit" id="button" name="button" value="Save" class="btn btn-info btn-block" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
                   }









@*<table><tr>
            <td>
                @foreach (var item in Model.CiphersListTwoColumnsA)
                {
                    <div class="radio">
                        <label><input type="radio" name="@Html.DisplayNameFor(Model => Model.CiphersListTwoColumnsA)">@item</label>
                    </div>
                }
            </td>
            <td>
                @foreach (var item in Model.CiphersCDTwoColumns)
                {
                    <div class="radio">
                        <label><input type="radio" name="@Html.DisplayNameFor(Model => Model.CiphersCDTwoColumns)">@item</label>
                    </div>
                }
            </td>
            <td>
                @foreach (var item in Model.NumTimesList)
                {
                    <div class="radio">
                        <label><input type="radio" name="@Html.DisplayNameFor(Model => Model.NumTimesList)">@item</label>
                    </div>
                }
            </td>
            <td>
                    @foreach (var item in Model.Observation.Comments)
                    {
                    <div class="radio">
                        <label><input type="radio" name="@item.LetterSymbol">@item.LetterSymbol</label>
                    </div>
                    }
                </td>
        </tr>
    </table>*@


@*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" val="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@






@*##########################*@

@*@model  NaproKarta.ViewModels.AuxiliaryVMs.ObservationVM

    @{
       ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table style="width:100%; text-align:center" border="1">
        <tr>
            @foreach (var item in Model.Markers)
            {
            <td>
                <button type="button" id="@item.Name" name="@item.Name"
                        class="btn btn-default" style="height:50%; width:auto"
                        val="@item.Name">
                    <img src="@item.Address" alt="@item.Name" style="width:100px; height:auto" />
                </button>
            </td>
            }
        </tr>
    </table>
    <table style="width:100%; text-align:left" border="1">
        <tr>
            <td>
                @foreach (var item in Model.LetterLetterSymbolsA)
                {
                <div class="radio">
                    <label><input type="radio" name="@Html.DisplayNameFor(Model => Model.LetterLetterSymbolsA)">@item.LetterSymbol</label>
                </div>
                }
                </td>
            <td>
                @foreach (var item in Model.LetterLetterSymbolsB)
                {
                <div class="radio">
                    <label><input type="radio" name="@Html.DisplayNameFor(Model => Model.LetterLetterSymbolsB)">@item.LetterSymbol</label>
                </div>
                }
                <div class="checkbox">
                    <label><input type="checkbox" val="">@Html.DisplayNameFor(Model => Model.LetterIsB)</label>
                </div>
            </td>
            <td>
                @foreach (var item in Model.CipherAndCipherCD)
                {
                <div class="radio">
                    <label><input type="radio" name="@Html.DisplayNameFor(Model => Model.CipherAndCipherCD)">@item.LetterSymbol</label>
                </div>
                }
            </td>
            <td>
                @foreach (var item in Model.CipherAndCipherCDCD)
                {
                <div class="radio">
                    <label><input type="radio" name="@Html.DisplayNameFor(Model => Model.CipherAndCipherCDCD)">@item.LetterSymbol</label>
                </div>
                }
            </td>
            <td>
                @foreach (var item in Model.NumTimes)
                {
                <div class="radio">
                    <label><input type="radio" name="@Html.DisplayNameFor(Model => Model.NumTimes)">@item.LetterSymbol</label>
                </div>
                }
            </td>
            @*<td>
                    @foreach (var item in Model.Observation.Comments)
                    {
                    <div class="radio">
                        <label><input type="radio" name="@item.LetterSymbol">@item.LetterSymbol</label>
                    </div>
                    }
                </td>*@@*
        </tr>
    </table>xxxxxx
    <table border="1" style="width:100%; text-align:center; vertical-align:central; padding:1%">
        @for (int i = 0; i < 3; i++)
        {
        <tr style="height:20%">
            <td style="width:5%; text-align:center; vertical-align:central; padding:1%">
                <div class="checkbox">
                    @*<button type="button" class="btn btn-danger "><h2>!!!</h2></button><br />*@
                @*<h2>!!!</h2><br />
                                    <label><input type="checkbox" val=""></label>
                                </div>
                            </td>
                            <td><h1> B</h1>
                            </td>
                            <td style="width:90%; text-align:center; vertical-align:central; padding:1%">
                                <div class="form-group">
                                    <label for="comment"></label>
                                    <textarea class="form-control" rows="3" id="comment"></textarea>
                                </div>
                            </td>
                        </tr>
                        }
                    </table>*@


                @*<table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PeakNum)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeakNum)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                               @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                        }

                    </table>*@
