@model NaproKarta.ViewModels.ObservationEditVM

<div class="groupBox">
    <table class="propertiesHeight">
            <tr>
                <td style="text-align: left; padding-right: 15px">
                    <label style="padding: 1px; margin: 1px">
                        @Html.CheckBoxFor(m => m.Observation.CommentVisit, new { @*@checked = "checked"*@ })
                        @*&nbsp; @Html.DisplayNameFor(model => item.Content)*@
                        &nbsp; @Model.CommentsDescriptons[0]
                    </label>
                </td>
            </tr>
        <tr>
            <td style="text-align: left; padding-right: 15px">
                <label style="padding: 1px; margin: 1px">
                    @Html.CheckBoxFor(m => m.Observation.CommentMedicalTest, new { @*@checked = "checked"*@ })
                    @*&nbsp; @Html.DisplayNameFor(model => item.Content)*@
                    &nbsp; @Model.CommentsDescriptons[1]
                </label>
            </td>
        </tr><tr>
            <td style="text-align: left; padding-right: 15px">
                <label style="padding: 1px; margin: 1px">
                    @Html.CheckBoxFor(m => m.Observation.CommentLupucupu, new { @*@checked = "checked"*@ })
                    @*&nbsp; @Html.DisplayNameFor(model => item.Content)*@
                    &nbsp; @Model.CommentsDescriptons[2]
                </label>
            </td>
        </tr>
    </table>
</div>